<div class="demo-section k-header">
    <div id="tickets">
        <form class="k-content" id="ticketsForm">
            <h3>Book Tickets</h3>
            <ul>
                <li>
                    <label for="fullname" class="required">Your Name</label>
                    @(Html.Kendo().TextBox()
                              .Name("fullname")
                              .HtmlAttributes(new { placeholder = "Full name", required = "required", validationmessage = "Enter {0}", style = "width:200px" })
                        )
                </li>
                <li>
                    <label for="search" class="required">Movie</label>
                    @(Html.Kendo().TextBox()
                              .Name("search")
                              .HtmlAttributes(new { type = "search", placeholder = "Full name", required = "required", validationmessage = "Select movei", style = "width:200px" })
                        )
                    <span class="k-invalid-msg" data-for="search"></span>
                </li>
                <li>
                    <label for="time">Start time</label>
                    @(Html.Kendo()
                              .DropDownList()
                              .Name("time")
                              .HtmlAttributes(new { required = "required", data_required_msg = "Select start time", style = "width: 200px" })
                              .OptionLabel("Select start time")
                              .BindTo(new[] {
                                  new SelectListItem { Text="14:00" },
                                  new SelectListItem { Text="15:30" },
                                  new SelectListItem { Text="17:00" },
                                  new SelectListItem { Text="20:15" }
                              })
                        )
                    <span class="k-invalid-msg" data-for="time"></span>
                </li>
                <li>
                    <label for="amount">Amount</label>
                    @(Html.Kendo()
                              .NumericTextBox()
                              .Name("amount")
                              .Value(1)
                              .HtmlAttributes(new { max = "10", min = "1", required = "required", data_max_msg = "Enter value between 1 and 10", style = "width:200px" })
                        )
                    <span class="k-invalid-msg" data-for="Amount"></span>
                </li>
                <li>
                    <label for="email" class="required">Email</label>
                    @(Html.Kendo().TextBox()
                              .Name("email")
                              .HtmlAttributes(new { placeholder = "e.g. myname@example.net", required = "required", type = "email", data_email_msg = "Email format is not valid", style = "width: 200px;" })
                        )
                </li>
                <li>
                    <label for="tel" class="required">Phone</label>
                    @(Html.Kendo().TextBox()
                              .Name("tel")
                              .HtmlAttributes(new { placeholder = "Enter a ten digit number", pattern = "\\d{10}", required = "required", type = "tel", validationmessage = "Enter at least ten digits", style = "width: 200px;" })
                         )
                </li>
                <li class="accept">
                    <input type="checkbox" name="Accept" required validationmessage="Acceptance is required" />
                    I accept the terms of service
                </li>
                <li class="confirm">
                    <button class="k-button k-primary" type="submit">Submit</button>
                </li>
                <li class="status"></li>
            </ul>
        </form>
    </div>
</div>
<script>
    $(function () {
        var validator = $("#ticketsForm").kendoValidator().data("kendoValidator");
        var status = $(".status");

        $("form").submit(function (event) {
            event.preventDefault();
            if (validator.validate()) {
                status.text("Hooray! Your tickets has been booked!")
                    .removeClass("invalid")
                    .addClass("valid");
            } else {
                status.text("Oops! There is invalid data in the form.")
                    .removeClass("valid")
                    .addClass("invalid");
            }
        });
    });

</script>
<style>
    .k-textbox {
        width: 11.8em;
    }

    .demo-section {
        width: 800px;
        padding: 0;
    }

    #tickets {
        width: 800px;
        background: url('../content/web/validator/tickets.png') transparent no-repeat 30px 50%;
        background-color: #3f51b5;
    }

        #tickets form {
            padding: 30px;
            margin-left: 150px;
        }

        #tickets h3 {
            font-weight: normal;
            font-size: 1.4em;
            margin: 0;
            padding: 0 0 20px;
        }

        #tickets ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        #tickets li {
            margin: 5px 0;
        }

    label {
        display: inline-block;
        width: 100px;
        text-align: right;
        padding-right: 10px;
    }

    .required {
        font-weight: bold;
    }

    .accept, .status {
        padding-left: 90px;
    }

    .confirm {
        text-align: right;
    }

    .valid {
        color: green;
    }

    .invalid {
        color: red;
    }

    span.k-tooltip {
        margin-left: 6px;
    }
</style>