@using (Html.BeginForm("Download_Modified_Document", "PdfProcessing"))
{
    <div id="example">
        <div class="form">
            <ul class="fieldlist">
                <li>
                    @Html.Label("Text field:")
                    @Html.Kendo().TextBox().Name("textbox").HtmlAttributes(new { style = "width: 100%;", @Value = "Sample text" })
                </li>
                <li>
                    @Html.Label("Choice field:")
                    @Html.TextArea("textarea", new { @class = "k-textbox", style = "width: 100%; height:80px", id = "textArea", value = "test" }  )
                </li>
            </ul>
            <div class="container">
                <div id="radioButton">
                    <h4>Radio button field:</h4>
                    <ul class="fieldlist">
                        <li>
                            @(Html.Kendo().RadioButton().Name("rb1").Value("1").HtmlAttributes(new { @name = "rb" }).Label("Option 1"))
                        </li>
                        <li>
                            @(Html.Kendo().RadioButton().Name("rb2").Value("2").Checked(true).HtmlAttributes(new { @name = "rb" }).Label("Option 2"))
                        </li>
                        <li>
                            @(Html.Kendo().RadioButton().Name("rb3").Value("3").HtmlAttributes(new { @name = "rb" }).Label("Option 3"))
                        </li>
                    </ul>
                </div>
                <div id="checkBox">
                    <h4>Checkbox fields:</h4>
                    <ul class="fieldlist">
                        <li>
                            @(Html.Kendo().CheckBox().Name("cb1").Checked(true).Label("CheckBox 1"))
                        </li>
                        <li>
                            @(Html.Kendo().CheckBox().Name("cb2").Checked(true).Label("CheckBox 2"))
                        </li>
                        <li>
                            @(Html.Kendo().CheckBox().Name("cb3").Checked(false).Label("CheckBox 3"))
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <input type="submit" class="k-button k-primary wide-btn" value="Download" />
}

<script type="text/javascript">
    $(function () {
        $("#textArea").html("Choice 1" + "\n" + "Choice 2" + "\n" + "Choice 3");
    });
</script>

<style>
    .container {
        margin-top: 30px;
        display: inline-block;
        width:100%;
    }

    .k-primary{
        display: block;
        margin : 0 auto;
    }

    #radioButton {
        width: 45%;
        float: left;
    }

    #checkBox {
        width: 45%;
        float: right;
    }

    .documentImage {
        width: 100%;
    }

    .fieldlist {
        margin: 0 0 -2em;
        padding: 0;
    }

    .fieldlist li {
            list-style: none;
            padding-bottom: 2em;
    }

    .fieldlist label {
            display: block;
            padding-bottom: 1em;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
            color: #444;
    }

    .k-button {
        margin-top:1em;
    }


    .form {
        width: 50%;
        padding:30px;
        margin: 0 auto;
        border: 1px solid black;
    }

    h4{
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px;
        color: #444;
        margin-bottom:15px;
    }
</style>