@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="msapplication-tap-highlight" content="no" />

    <link href="@Url.Content("~/content/shared/styles/console.css")" rel="stylesheet" />
    <link href="@Url.Content("~/content/mobile/examples.css")" rel="stylesheet" />

    @foreach (string styleName in Kendo.Models.StyleGroups.Mobile) {
        <link href="@Url.Style(styleName).Replace("CURRENT_THEME", ViewBag.Theme).Replace("CURRENT_COMMON", ViewBag.CommonFile)" rel="@(styleName.ToLowerInvariant().EndsWith("less") ? "stylesheet/less" : "stylesheet")" />
    }

    @if (ViewBag.Debug) {
        <script>
            less = {
                env: "development",
                logLevel: 1
            };
        </script>
        <script src="@Url.Content("~/content/shared/js/less.js")"></script>
    }
    @foreach (string scriptName in Kendo.Models.ScriptGroups.All) {
        <script src="@Url.Script(scriptName)"></script>
    }

    <script>
        document.title = "@ViewBag.Title";
        var NAV_JSON_URL = "@Url.Content("~/content/mobile-nav.json")";
        var navProduct = "@ViewBag.NavProduct";
        var product = "@ViewBag.Product";

        window.kendoCommonFile = "@ViewBag.CommonFile";
    </script>

    <script src="@Url.Content("~/content/shared/js/example-datasources.js")"></script>
    <script src="@Url.Content("~/content/shared/js/mobile-examples.js")"></script>
    <script src="@Url.Content("~/content/shared/js/console.js")"></script>
    <style type="text/css" media="screen">
        .navbar-hidden {
            display: none;
        }
    </style>
</head>

<body id="examples">
    <div data-role="view" data-title="Kendo UI" id="index" data-layout="" data-show="nullCurrentExample" data-init="initSearch">
        <header data-role="header">
            <div data-role="navbar" id="normal">
                <a data-align="left" data-role="button" href="#about" data-rel="drawer" data-icon="drawer-icon"></a>
                <span data-role="view-title"></span>
                <a data-align="right" data-role="button" data-click="showSearch" data-click-on="down" data-icon="search"></a>
            </div>
            <div data-role="navbar" id="search" class="navbar-hidden">
                <div data-align="right" id="demos-search-container" data-align="right">
                    <input type="search" id="demos-search" />
                </div>
            </div>
        </header>

        <ul data-role="listview" data-source="navDataSource" data-template="nav-template">
            <script type="text/x-kendo-template" id="nav-template">
                <a href="#: url #" style="#: data.new ? 'color: green' : '' #">#: text #</a>
            </script>
        </ul>
    </div>

    <div data-id="examples" data-role="layout" data-show="showDemoLayout" data-hide="removeView">
        <header data-role="header">
            <div data-role="navbar">
                <a data-align="left" data-icon="arrow-w" data-role="backbutton"></a>
                <span data-role="view-title"></span>
            </div>
        </header>
    </div>

    <div data-role="drawer" id="about" style="background-image: url(@Url.Content("~/content/mobile/backgrounds/" + ViewBag.product + ".jpg"))">
        <div data-role="header">
            <div data-role="navbar">
                <img src="@Url.Content("~/content/mobile/logos/" + ViewBag.product + ".png")" data-align="left" style="width: 198px; height: 15px" id="logo">
            </div>
        </div>

        <ul data-role="listview" id="external-resources">
            <li><a data-rel="external" href="http://www.telerik.com/@ViewBag.product">Product Overview</a></li>
            <li><a data-rel="external" href="http://www.telerik.com/purchase/@ViewBag.product">Pricing</a></li>
            <li><a data-rel="external" href="http://www.telerik.com/download/@ViewBag.product">Try Now</a></li>
        </ul>

        <div data-role="footer">
            <ul data-role="listview">
                <li><a data-rel="external" href="http://www.telerik.com/company/terms-of-use">Terms of Use</a></li>
                <li><a data-rel="external" href="http://www.telerik.com/company/product-improvement-program">Product Improvement Program</a></li>
                <li><a data-rel="external" href="http://www.telerik.com/company/offices">Contact Us</a></li>
            </ul>
        </div>
    </div>


    <script>
        window.app = new kendo.mobile.Application($(document.body), {
            layout: "examples",
            transition: "slide",
            skin: "flat",
            icon: {
                "" : '@Url.Content("~/content/mobile/AppIcon72x72.png")',
                "72x72" : '@Url.Content("~/content/mobile/AppIcon72x72.png")',
                "76x76" : '@Url.Content("~/content/mobile/AppIcon76x76.png")',
                "114x114" : '@Url.Content("~/content/mobile/AppIcon72x72@2x.png")',
                "120x120" : '@Url.Content("~/content/mobile/AppIcon76x76@2x.png")',
                "152x152" : '@Url.Content("~/content/mobile/AppIcon76x76@2x.png")'
            }
        });
    </script>
</body>
</html>
