<!DOCTYPE html>
<html class="k-@ViewBag.Theme">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="@ViewBag.Meta">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>@(ViewBag.Title ?? "HTML5 and JavaScript widgets integrated with AngularJS | Kendo UI Demos")</title>
    <link href='//fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet'>
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")"/>
    <link rel="canonical" href="@(Request.Url.Scheme + "://" + Request.Url.Authority + Request.Url.AbsolutePath)" />
    @foreach (string styleName in (ViewBag.Mobile == true? Kendo.Models.StyleGroups.Mobile : Kendo.Models.StyleGroups.All))
    {
    @Html.StyleLink(styleName, (string)ViewBag.Theme, (string)ViewBag.CommonFile)
    }

    <link href="@Url.Content("~/content/shared/styles/examples.css")" rel="stylesheet" />
    @{ bool isAngularJsExample = ViewBag.CurrentExample != null && (ViewBag.CurrentExample.Text.StartsWith("AngularJS") || ViewBag.CurrentExample.Url.Contains("angular")); }
    @{ bool isAngular2JsExample = ViewBag.CurrentExample != null && ViewBag.CurrentExample.Url.Contains("angular2"); }

    @if (isAngular2JsExample) {
        <script src="https://github.jspm.io/jmcriffey/bower-traceur-runtime@0.0.91/traceur-runtime.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/systemjs/0.18.4/system.src.js"></script>
        <script type="text/javascript" charset="utf-8">
         System.config({ defaultJSExtensions: true });
        </script>
        <script src="https://code.angularjs.org/2.0.0-alpha.36/angular2.dev.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/0.6.0/webcomponents.min.js"></script>
    }

    @if (ViewBag.CurrentExample != null && ViewBag.CurrentExample.Url.Contains("webcomponents")) {
        <script src="http://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/0.6.0/webcomponents.min.js"></script>
    }

    @foreach (string scriptName in Kendo.Models.ScriptGroups.All)
    {
        if (scriptName.Contains("angular") && !isAngularJsExample)
        {
            continue;
        }

        if (scriptName.Contains("angular.js") && isAngular2JsExample) { // skip angular1 for angular2
            continue;
        }

        if (scriptName.Contains("jszip") && ViewBag.CurrentExample != null
        && !ViewBag.CurrentExample.Text.Contains("Excel") && !ViewBag.CurrentExample.Url.Contains("spreadsheet"))
        {
            continue;
        }

        <script src="@Url.Script(scriptName)"></script>
    }
    <script src="@Url.Content("~/content/shared/js/kendo-dojo.js")"></script>
    <script src="@Url.Content("~/content/shared/js/console.js")"></script>
    <script src="@Url.Content("~/content/shared/js/prettify.js")"></script>
    <!-- <![if gte IE 8]>-->
    <script src="@Url.Content("~/content/shared/inspector/inspector.js")"></script>
    <link href="@Url.Content("~/content/shared/inspector/inspector.css")" rel="stylesheet" />
    <!--<![endif]-->
    <script>
        function resizeContainers() {
            var headerHeight = $("#header").height(),
                searchWrapper = $("#example-search-wrapper").outerHeight(),
                navbarWrapper = $("#example-nav-bar").height(),
                htmlHeight = (kendo.support.mobileOS) ? parseFloat(window.innerHeight) : $('html').height();
                sidebarHeight = htmlHeight - headerHeight,
                borderSize = 2,
                navHeight = sidebarHeight - (searchWrapper + navbarWrapper + borderSize);

            $("#example-sidebar").height(sidebarHeight);
            $("#nav-wrapper").height(navHeight);
            $("#main").height(sidebarHeight);
        }

        $(function () {
            if (kendo.support.mobileOS) {
                $(document.documentElement).addClass("k-hover-enabled");
            }
        });

        $(document).ready(resizeContainers);
        $(window).resize(resizeContainers);
    </script>

</head>
<body>
    @Html.Partial("Header")
    @Html.Partial("GoogleTagManager")
    @RenderBody()
    @if (ViewBag.SuppressFooter == null || !ViewBag.SuppressFooter)
    {
        @Html.Partial("Footer")
    }
</body>
</html>
