<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/lib/kendo/css/web/kendo.common.min.css" />
	<link rel="stylesheet" href="~/lib/kendo/css/web/kendo.rtl.min.css" />
    <link rel="stylesheet" href="~/lib/kendo/css/web/kendo.default.min.css" />
    <link rel="stylesheet" href="~/lib/kendo/css/dataviz/kendo.dataviz.min.css" />
    <link rel="stylesheet" href="~/lib/kendo/css/dataviz/kendo.dataviz.default.min.css" />    
	<link rel="stylesheet" href="~/shared/examples-offline.css" />

    <script src="~/lib/kendo/js/jquery.min.js"></script>
    <script src="~/lib/kendo/js/kendo.all.min.js"></script>
	<script src="~/lib/kendo/js/kendo.aspnetmvc.min.js"></script>
    <script src="~/shared/console.js"></script>

	@{
		// Include the JavaScript for the current culture
		var culture = System.Globalization.CultureInfo.CurrentCulture.ToString();
	}
	<script src="@("/lib/kendo/js/cultures/kendo.culture." + culture + ".min.js")"></script>

	<script>
		@* Set the current culture *@
        kendo.culture("@culture");
	</script>

    @RenderSection("scripts", required: false)
	@RenderSection("HeadContent", required: false)
</head>
<body>
	<div class="page">
		<div id="example" class="k-content">
			@RenderBody()
		</div>
	</div>
</body>
</html>
